<div class="container-fluid mt-5">
    <div class="split-form">
      <div class="image-side">
        <h2>Welcome Back!</h2>
        <p>Enter your details to access your account</p>
      </div>
      <div class="form-side">
        <h2>Forgot Password</h2>
        <form>
            <ng-container *ngIf="!isResetForm">
                <input type="text" placeholder="Enter yor email"  name="emailId"  required aria-label="Email">
                <button type="button" (click)="sentOtp()">Send Otp</button>
            </ng-container>
            <ng-container *ngIf="isResetForm">
                <input type="text" placeholder="Enter yor email" [(ngModel)]="resetObj.Email" name="Email"  required aria-label="Email">
                <input type="text" placeholder="Enter yor OTP" [(ngModel)]="resetObj.Otp" name="Otp"  required aria-label="otp">
                <input type="text" placeholder="Enter yor New Password" [(ngModel)]="resetObj.NewPassword" name="NewPassword"  required aria-label="newPassword">
                <button type="button" (click)="resetPassword()">Reset Password</button>
            </ng-container>
          
        </form>

      </div>
    </div>
  </div>
  