<p>ng-for works!</p>

<div class="container">
    <div class="row">
        <div class="col md-4">
            <ul>
                <li *ngFor="let city of cityList" > {{city}} </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            employeObject : {{ employeObject | json }}
        </div>
        <div class="col-sm-6">
            current Date:  {{ currentDate | date: 'dd-MMMM-yyyy' }} <br>
            current Date: {{ currentDate | date: 'dd-MMM-yyyy' }} <br>
            current Time: {{ currentDate | date: 'hh:mm:ss' }} <br>
        </div>
    </div>
    <br>
</div>


<div class="row">
    <div class="col-md-2">
        <select class="form-select" name="" id="">
            <option *ngFor="let emp of employeObject" [value]="emp.empid" >
                 {{emp.name | lowercase}} - {{emp.city | uppercase}}
            </option>
        </select>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee Age</th>
                    <th>Employee City</th>
                    <th>Employee Attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeObject; let sl = index">
                    <td>{{sl+1 }}</td>
                    <td>{{emp.empid}}</td>
                    <td>{{emp.name | customPipes}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.city | uppercase | customPipes}}</td>
                    <td>
                        <app-progrss-bar [bgColor]="getAttendanceClass(emp.attendance)" [progressValue]="emp.attendance"></app-progrss-bar>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>